<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody>
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>   
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/29500454?query=java%20Odessa">Senior Java Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО RevJet</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/29500588?query=java%20Odessa">Senior Java Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО RevJet</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/29824709?query=java%20Odessa">Middle C++ Developer (GameDev)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Nordcurrent Odessa</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/29609653?query=java%20Odessa">Middle Java Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/29702644?query=java%20Odessa">Android Developer</a></td> 
     <td class="city">Москва, Достоевская</td> 
     <td class="companyName">Агент Плюс</td> 
     <td class="salary">от 200&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/29612119?query=java%20Odessa">Configuration Engineer (Junior DevOps)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/29612096?query=java%20Odessa">Middle C++ Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/29942421?query=java%20Odessa">Front End Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">MaxBill</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/27403458?query=java%20Odessa">Java middle developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО ППЛ 33-35</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/29893033?query=java%20Odessa">Junior / Middle Firmware Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО CИИ УКРАИНА</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/29504643?query=java%20Odessa">Golang Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО 482.solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/29583957?query=java%20Odessa">Front-end Developer / ElectricAccelerator</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/27663517?query=java%20Odessa">Linux администратор</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО ППЛ 33-35</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/29427984?query=java%20Odessa">Perl Developer / Container Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/29772257?query=java%20Odessa">Ruby on Rails Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">JetThoughts</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/29770733?query=java%20Odessa">Программист Junior PHP / Front-End developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ARTSTEP</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/29781963?query=java%20Odessa">Водитель</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП Парк такси</td> 
     <td class="salary">12&nbsp;000-18&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/29646434?query=java%20Odessa">Front-end Developer / Ember.js</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Metricly</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody>
  </table>  
 </body>
</html>